<div id="acerca-de"></div>
<div data-aos="fade-up" data-aos-duration="3000" class="container">
    <div class="row col-12">
        <img class="img-fluid foto mt-3 lazyload" src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Ffoto%20personal%2F1.jpg?alt=media&token=b83eabe8-f616-462a-9d1e-0a9e81bc975f" alt="">
    </div>
    <div class="row">
        <p class="acerca-de mt-2">
            Mi nombre es Joel, soy diseñador web panameño que actualmente estudia varias tecnologias en tendencias relacionadas al desarrollo web. Entre ellas mi pasión son los productos intuitivos y las meticulosas interfaces visuales; No obstante también analizó
            el contexto y los comportamientos de los usuarios para crear las mejores soluciones para cada proyecto. He trabajado como desarrollador en front-end en algunos proyectos, especialmente cuidando la aplicación de estilos y la integración con
            complementos interactivos.
        </p>
    </div>
</div>
