<div class="container habilidades" id="habilidades">
    <div data-aos="fade-right" data-aos-duration="3000" class="row pt-2">
        <h2 class="col-12">Habilidades</h2>
    </div>

    <div class="row">
        <div data-aos="fade-up-right" data-aos-duration="3000" class="front-end col-xl-4 col-lg-4 col-md-4">
            <h5>front end</h5>
            <div class="col-xl-12 col-lg-12 col-md-12">
                <i class="fab fa-angular"></i>
                <i class="fab fa-css3"></i>
                <i class="fab fa-html5"></i>
                <i class="fab fa-bootstrap"></i>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 mt-3 pb-3">
                <i class="fab fa-js-square"></i>
                <i class="fab fa-sass"></i>
                <i class="fab fa-wordpress"></i>
            </div>

        </div>
        <div data-aos="fade-up-right" data-aos-duration="3000" class="back-end col-xl-4 col-lg-4 col-md-4">
            <h5>back end</h5>
            <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
                <i class="fab fa-php"></i>
                <i class="node"><img class="lazyload img-fluid"
                        src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fhabilidades%2Fnodejs-.png?alt=media&token=37a02382-18cd-4daa-ab49-01b5e6345af7"></i>
                <i class="mongo "><img class="lazyload img-fluid pt-3"
                        src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fhabilidades%2Fmondodb2.png?alt=media&token=d133360f-b666-440d-aca5-15c8498e7bea"></i>
                <i class="mysql "><img class="lazyload img-fluid pt-3"
                        src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fhabilidades%2Fmysql.png?alt=media&token=8f9a9420-9bdc-4ccb-8173-e9e6124f6e08"></i>
            </div>

        </div>
        <div data-aos="fade-up-right" data-aos-duration="3000" class="otros col-xl-4 col-lg-4 col-md-4">
            <h5>otros</h5>
            <i class="fab fa-linux"></i>
            <i class="fab fa-windows"></i>
            <i class="fas fa-network-wired"></i>
            <i class="firebase"> <img class="lazyload img-fluid"
                    src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fhabilidades%2Ffirebase.png?alt=media&token=cbe031b9-7739-4e71-a488-b27e81dd5fb0"></i>
        </div>
    </div>
</div>