<header id="inicio">
    <div class="contenedor ">
        <nav id="menu" class="navbar navbar-expand-md navbar-light bg-transparent fixed-top" id="navbar">

            <a class="navbar-brand text-white " href="#inicio">INOVIX</a>
            <button class="navbar-toggler" id="btn-menu-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
             <span class="fa fa-bars "></span>
          </button>
            <div class="collapse navbar-collapse " id="navbarItems">
                <div class="navbar-nav ml-auto">
                    <a data-scroll class="nav-item nav-link text-white links" href="#inicio">Inicio</a>
                    <a data-scroll class="nav-item nav-link text-white links" href="#acerca-de">Acerca-de</a>
                    <a data-scroll class="nav-item nav-link text-white links" href="#habilidades">Habilidades</a>
                    <a data-scroll class="nav-item nav-link text-white links" href="#proyecto">Proyectos</a>
                    <a data-scroll class="nav-item nav-link text-white links" href="#contacto">Contacto</a>
                    <a data-scroll class="nav-item nav-link text-white links" href="#footer">Redes sociales</a>
                </div>
            </div>
        </nav>
        <div class="contenido-header">
            <h1 class="titulo-header">
                <span class="primer_nombre"> Joel&nbsp;</span> <span class="segundo_nombre">Alexander&nbsp;</span><span class="primer_apellido">Guerrero&nbsp;</span>
                <span class="segundo_apellido">Navarro</span>
            </h1>
            <h2 class="texto-header pb-3"> <span class="typed"></span></h2>
            <div class="titulo" id="cadenas-texto">
                <p>Diseñador <b>web</b></p>
                <p>Diseñador <b>front-end </b></p>
                <p>Diseñador <b>freelancer</b></p>
            </div>
        </div>
        <a type="button" class="btn boton links" href="#acerca-de">
            <span class="acerca-de-btn">Acerca de</span>
            <span><i class="fas fa-arrow-down"></i></span>
        </a>
    </div>
</header>