<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" id="proyecto">
    <h2>Proyectos</h2>
    <p>
        Proyectos. Algunos alojados en <a target="_blank" href="https://github.com/JoelGuerrero03"
            class="color">Github</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row tarjeta">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="  col-xl-4">
            <div class="card  ">
                <a href="#Inovix" role="button" data-toggle="modal"> <img class="card-img-top lazyload img-fluid "
                        data-src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fproyectos%2Fportafolio.png?alt=media&token=0d506e5e-9be1-4e96-8714-f9cc1d833e08"></a>
                <div class="card-body">
                    <h5 class="card-title">INOVIX</h5>
                    <p class="card-text">Tecnologias usadas:</p>
                    <p class="card-text col-xl-12  ">Nodejs - Html5 - Css3 - Firebase - Fontawesome - javaScript - jQuery -
                        Bootstrap4 - Nodemailer - SweetAlert2</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-xl-4">
            <div class="card">
                <a href="#peopleInMotion" role="button" data-toggle="modal"> <img
                        class="card-img-top lazyload img-fluid "
                        data-src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fproyectos%2FpeopleInmotion.png?alt=media&token=de882839-193a-4d8b-87ec-a2244fccdb56"></a>
                <div class="card-body">
                    <h5 class="card-title">People In Motion</h5>
                    <p class="card-text">Tecnologias usadas:</p>
                    <p class="card-text col-xl-12 pb-xl-4 people">Html5 - Css3 - Bootstrap4 - Fontawesome - jQuery </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="Inovix" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Caracteristicas:</h4>
            </div>
            <div class="modal-body">
                <img class="card-img-top lazyload img-fluid "
                    src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fproyectos%2Fportafolio.png?alt=media&token=0d506e5e-9be1-4e96-8714-f9cc1d833e08">
                <p>Portafolio en donde muestro mis habilidades, quien soy, mis redes sociales y otros.</p>
            </div>
            <div class="modal-footer">
                <button id="githubI" type="button" class="btn btn-default col-xl-3 " data-dismiss="modal">Ver
                    repositorio</button>
                <button id="inovix" type="button" class="btn btn-danger col-xl-3">Vista previa</button>
            </div>
        </div>
    </div>
</div>
<div id="peopleInMotion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Caracteristicas:</h4>
            </div>
            <div class="modal-body">
                <img class="card-img-top lazyload img-fluid"
                    src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fimg%2Fproyectos%2FpeopleInmotion.png?alt=media&token=de882839-193a-4d8b-87ec-a2244fccdb56">
                <p>Actualizacion de la pagina web de la empresa People in motion</p>
            </div>
            <div class="modal-footer">
                <button id="people" type="button" class="btn btn-danger col-xl-3">Vista previa</button>
            </div>
        </div>
    </div>
</div>