<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INOVIX-ERROR</title>
    {{!-- <link rel="stylesheet" href="./css/error.css"> --}}
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/src%2Fcss%2Fcompatibilidad.css?alt=media&token=acfae3c6-8d75-42c1-9b68-cb89f37c034f">
</head>
<body>
    <h1>Oops... esta página no se puede visualizar en MOZILLA FIREFOX intentar con chrome o edge</h1>
    <section class="error-container">
        <span><span>4</span></span>
        <span>0</span>
        <span><span>0</span></span>
    </section>
</body>
</html>